In [1]:
import pandas as pd ###
import re

In [2]:
data = pd.read_csv("restaurant4.csv") ###
data.head()
#data.attributes[0]

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,index,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,Type
0,0,0,0,0,85,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,1,"{'RestaurantsTakeOut': 'True', 'NoiseLevel': ""...","Food, Restaurants, Salad, Coffee & Tea, Breakf...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-14:0', '...",Bakery
1,2,2,2,3,431,ifjluUv4VASwmFqEp8cWlQ,Marty's Pizza,2733 De La Vina St,Santa Barbara,CA,93105,34.436236,-119.726147,4.0,64,1,"{'Alcohol': ""u'none'"", 'BusinessAcceptsCreditC...","Pizza, Restaurants","{'Tuesday': '11:0-21:30', 'Wednesday': '11:0-2...",Pizza
2,3,3,3,4,470,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,"7320 Hollister Ave, Ste 1",Goleta,CA,93117,34.430542,-119.882367,4.0,189,1,"{'RestaurantsGoodForGroups': 'True', 'Business...","Burgers, Cafes, Restaurants, Mexican, American...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-20:30', ...",Mexican
3,5,5,5,6,601,xwSWtJcQkzTF6HNm_IMgcg,Rusty's Pizza Parlor,270 Storke Rd,Goleta,CA,93117,34.429043,-119.869362,2.5,94,1,"{'RestaurantsPriceRange2': '2', 'Alcohol': ""u'...","Chicken Wings, Salad, Restaurants, Pizza, Ital...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-20:0', ...",Pizza
4,7,7,7,10,1320,UFpCraqzFBAhtZqmxmiWsA,Cat Therapy,"1213 State St, Ste L",Santa Barbara,CA,93101,34.423302,-119.705471,4.5,116,1,"{'WheelchairAccessible': 'True', 'WiFi': ""u'fr...","Themed Cafes, Cafes, Pets, Arts & Entertainmen...","{'Monday': '10:0-17:15', 'Wednesday': '10:0-19...",Coffee

In [3]:
data.isnull().sum() ###
data.dropna()
len(data)
data.columns
data = data.iloc[:,1:]
data.head()

,Unnamed: 0.2,Unnamed: 0.1,index,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,Type
0,0,0,0,85,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,1,"{'RestaurantsTakeOut': 'True', 'NoiseLevel': ""...","Food, Restaurants, Salad, Coffee & Tea, Breakf...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-14:0', '...",Bakery
1,2,2,3,431,ifjluUv4VASwmFqEp8cWlQ,Marty's Pizza,2733 De La Vina St,Santa Barbara,CA,93105,34.436236,-119.726147,4.0,64,1,"{'Alcohol': ""u'none'"", 'BusinessAcceptsCreditC...","Pizza, Restaurants","{'Tuesday': '11:0-21:30', 'Wednesday': '11:0-2...",Pizza
2,3,3,4,470,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,"7320 Hollister Ave, Ste 1",Goleta,CA,93117,34.430542,-119.882367,4.0,189,1,"{'RestaurantsGoodForGroups': 'True', 'Business...","Burgers, Cafes, Restaurants, Mexican, American...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-20:30', ...",Mexican
3,5,5,6,601,xwSWtJcQkzTF6HNm_IMgcg,Rusty's Pizza Parlor,270 Storke Rd,Goleta,CA,93117,34.429043,-119.869362,2.5,94,1,"{'RestaurantsPriceRange2': '2', 'Alcohol': ""u'...","Chicken Wings, Salad, Restaurants, Pizza, Ital...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-20:0', ...",Pizza
4,7,7,10,1320,UFpCraqzFBAhtZqmxmiWsA,Cat Therapy,"1213 State St, Ste L",Santa Barbara,CA,93101,34.423302,-119.705471,4.5,116,1,"{'WheelchairAccessible': 'True', 'WiFi': ""u'fr...","Themed Cafes, Cafes, Pets, Arts & Entertainmen...","{'Monday': '10:0-17:15', 'Wednesday': '10:0-19...",Coffee

In [4]:
new_df = pd.DataFrame(data.hours.str.split(',').tolist(), index=data.business_id).stack() ###
new_df = new_df.reset_index([0, 'business_id'])
new_df.columns = ['business_id', 'hours']

In [5]:
new_df[['day_of_the_week','hours']] = new_df.hours.str.split(': ',expand=True) ###
new_df['day_of_the_week'] = new_df['day_of_the_week'].str.replace("'"," ")
new_df['day_of_the_week'] = new_df['day_of_the_week'].str.replace("{"," ")
new_df['day_of_the_week'] = new_df['day_of_the_week'].str.replace("}"," ")
new_df['day_of_the_week'] = new_df['day_of_the_week'].str.replace(" ","")

new_df['hours'] = new_df['hours'].str.replace("'"," ")
new_df['hours'] = new_df['hours'].str.replace("{"," ")
new_df['hours'] = new_df['hours'].str.replace("}"," ")
new_df['hours'] = new_df['hours'].str.replace(" ","")
new_df

/var/folders/5h/f4lgt9fd2rb6bjnwmmcf36t80000gn/T/ipykernel_3798/4157365808.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_df['day_of_the_week'] = new_df['day_of_the_week'].str.replace("{"," ")
/var/folders/5h/f4lgt9fd2rb6bjnwmmcf36t80000gn/T/ipykernel_3798/4157365808.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_df['day_of_the_week'] = new_df['day_of_the_week'].str.replace("}"," ")
/var/folders/5h/f4lgt9fd2rb6bjnwmmcf36t80000gn/T/ipykernel_3798/4157365808.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_df['hours'] = new_df['hours'].str.replace("{"," ")
/var/folders/5h/f4lgt9fd2rb6bjnwmmcf36t80000gn/T/ipykernel_3798/4157365808.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_df['hours'] = new_df['hours'].str.replace("}"," ")

                 business_id       hours day_of_the_week
0     IDtLPgUrqorrpqSLdfMhZQ     0:0-0:0          Monday
1     IDtLPgUrqorrpqSLdfMhZQ    8:0-14:0         Tuesday
2     IDtLPgUrqorrpqSLdfMhZQ    8:0-14:0       Wednesday
3     IDtLPgUrqorrpqSLdfMhZQ    8:0-14:0        Thursday
4     IDtLPgUrqorrpqSLdfMhZQ    8:0-14:0          Friday
...                      ...         ...             ...
3054  2xxkaRy7rP5EUyjFt2J5kA  17:0-21:30       Wednesday
3055  2xxkaRy7rP5EUyjFt2J5kA  17:0-21:30        Thursday
3056  2xxkaRy7rP5EUyjFt2J5kA  17:0-21:30          Friday
3057  2xxkaRy7rP5EUyjFt2J5kA  17:0-21:30        Saturday
3058  2xxkaRy7rP5EUyjFt2J5kA  17:0-21:30          Sunday

[3059 rows x 3 columns]

In [6]:
new_df.groupby(['hours']).value_counts()

hours      business_id             day_of_the_week
0:0-0:0    -BdYhP-12elmFV7oB1iv4A  Monday             1
           -H-fZonTLitwHFY_PLAIjA  Monday             1
           iMTjejk6apJKzCukZnDw5A  Monday             1
           gg5jIrK0cQbb3rmZHrteUw  Monday             1
           grBPIq_eJCT_SGuhvMrUZQ  Monday             1
                                                     ..
9:30-22:0  5tkZfqkwx6axbN9P5UlC8w  Thursday           1
                                   Tuesday            1
                                   Wednesday          1
9:30-23:0  5tkZfqkwx6axbN9P5UlC8w  Friday             1
                                   Saturday           1
Length: 3059, dtype: int64

In [12]:
new_df['hours'].nunique()

253